[defaults]
inventory = inventory_pro
host_key_checking = False
forks = 5
log_path = ./ansible.log_path
timeout = 15
#ask_valut_pass = True
[privilege_escalation]
become = yes
become_method = sudo
become_user = root
become_pass = False
[ssh_connection]
retries = 2
